  <Config>
   <Plugins>
      <Lib Name="libInter4Move.so"/>
      <Lib Name="libInter4Rotate.so"/>
      <Lib Name="libInter4Pause.so"/> 
   </Plugins>
   <Objects>
      <Cube Name="obj1" SizeXYZ="10 20 15"    RGB="30 0 255"/>
      <Cube Name="obj2" SizeXYZ="10 13.4 18"   RGB="100 10 255"/>
      <Cube Name="obj3" SizeXYZ="22 21 7"  RGB="10 200 255"/>
   </Objects>
  </Config>
  
